body{
	font-family: 'PT Sans', sans-serif;
	font-size: 150%;
	color:#C0C0C0;
	margin: 0;
	background-color: #33b5e5;
}

div#main {

}

div#river {
	width: 100%;
	background-color: #121417;
}

div#menubox {
	width: 100%;
	height: 80px;
	background: #252a30;
	border-bottom: 1px solid #222;
}

div.control-box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 1000px;
	width: 1000px;
	height: inherit;
}

div.write-button {
	position:absolute;
	top: 45px;
	left: 467px;
	width: auto;
	background: #252a30;
	/*border: solid 2px #121417;*/
	text-align: center;
	z-index: 15;
}

div.last-read-button {
	display: none;
	position: absolute;
	top: 45px;
	right: 5px;
	width: auto;
	background: #252a30;
	z-index: 15;
}

div.twitter-button {
	position: absolute;
	left: 421px;
	top: 45px;
	width: 158px;
	height: 29px;
	z-index: 16;
}

div#msgbox {
	position: relative;
	top: 5px;
	margin-left: auto;
	margin-right: auto;
	min-width: 1000px;
	width: 1000px;
	border: 1px solid #33b5e5;
}

div#stream {
	position: relative;
	top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-width: 1000px;
	width: 1000px;
	min-height: 1000px;
	position: relative;
	text-align: justify;
	background: #121417;
	border: dashed 1px #33b5e5;
}

.content {
	display: block;
	height: 100%;
}

.tweet:hover .timeago {
	display: block;
}

.tweet:hover .control {
	 display: block;
}

.control {
	clear: both;
	display: none;
	position: relative;
	float: right;
	bottom: 94px;
	right: 6px;
	font-size: 50%
}

.tweet {
	/*border-bottom: solid 1px #33b5e5;*/
	border-bottom: dashed 2px #252a30;
	height: 65px;
	width: 100%;
}

.retweet {
	/*background: #252a30 !important;*/
}

.user {
	position: relative;
	left: 35px;
	bottom: 25px;
	font-size: 70%;
	width: auto;
	/*border: solid 1px red;*/
}

.user-retweet {
	position: relative;
	bottom: 25px;
	font-size: 70%;
	width: auto;
	/*border: solid 1px red;*/	
}
.avatar {
	float: left;
	position: relative;
	left: 10px;
	bottom: 17px;
	width: 48px;
	height: 48px;
	box-shadow: 0px 0px 20px #33b5e5;
}

.retweeter {
	float: left;
	position: relative;
	left: -8px;
	bottom: -18px;
	width: 25px;
	height: 25px;
	z-index: 5;
	border: solid 1px black;
}

.message {
	clear: both;
	position: relative;
	width: 800px;
	left: 80px;
	bottom: 35px;
	font-size: 70%;
	text-align: left;
	/*border: solid 1px red;*/
}

.timeago {
	clear: both;
	display: none;
	position: relative;
	float: right;
	bottom: 49px;
	right: 5px;
	font-size: 50%
}

.last-unread {
	border-bottom: solid 1px #33b5e5;
}


fieldset {
	border: none;
}

textarea {
	resize: none;
}

.characters {
	position: relative;
	text-align: right;
	bottom: 44px;
	left: 300px;
	width: 40px;
}

.send-button {
	position: relative;
	bottom: 40px;
	right: 20px;
	width: 80px;
	line-height: 15px;
	padding: 5px 0;
	border: 1px solid #888;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-webkit-transform: rotate(-91deg);
}

.magical {
	margin-top: 100px;
}

.hidden {
	display: none;
}

.deleted {
	text-decoration: line-through;
}

a {
	color: #33b5e5;
	text-decoration: none;
}